# Core Dependencies
node_modules/
.pnpm-store/

# Production Builds & Outputs
dist/
build/
coverage/
*.tsbuildinfo

# Frameworks & Monorepos
.next/
.turbo
out/

# Environment & Sensitive Files
.env
.env.*
.env.local
.env.development.local
.env.production.local
!.env.example

# IDEs & System Files
.vscode/
.idea/
.fleet
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Logs & Diagnostics
*.log
npm-debug.log*
pnpm-debug.log*
.pnpm-debug.log*

# Testing & Cache
.eslintcache
.stylelintcache
.prettiercache
.cache/
*.pem

# Database files
data/*.sqlite
data/*.sqlite-journal
data/*.sqlite-shm
data/*.sqlite-wal
